{% extends 'tiendaapp/base.html' %}
{% load static %}


{% block titulo %}
<h2></h2>
{% endblock titulo %}
    


{% block contenido %}
   
    <form action="" method="POST">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">
            <h6>¿ Está seguro de eliminar esta categoria ? <p style="color:burlywood">{{ object}}</p></h6>
        </div>
        <div class= text-center>
            <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
        </div>
    </form>
{% endblock contenido %}