{% extends 'tiendaapp/base.html' %}
{% load static %}


{% block titulo %}
<h2></h2>
{% endblock titulo %}
    


{% block contenido %}

<table class="table table-dark table-striped">
     <thead>
         <tr>
             <th>ID</th>
             <th>Nombre del producto</th>
             <th>Articulo del producto</th>    
             <th>Acciones</th>        
         </tr>
     </thead>
     <tbody>
{% for cat in categoria %}
         <tr>
             <td>{{cat.Id}}</td>
             <td>{{cat.nombre}}</td>
             <td>{{cat.articulo}}</td>          
         </tr>
{% endfor %}
     </tbody>

 </table>

{% endblock contenido %}