{% extends 'tiendaapp/base.html' %}
{% load static %}


{% block titulo %}
<h2></h2>
{% endblock titulo %}
    


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Clientes</h2></td> 
        <td>
            <a 
            href="{% url 'create_cliente' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-plus" title="New Record"> </i>
            </a>       
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Cliente</th>
            <th>Apellido del Cliente</th>
            <th>Correo del Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

{% for c in clientes_list %}
        <tr>
            <td>{{c.id}}</td>
            <td>{{c.nombre}}</td>
            <td>{{c.apellido}}</td>
            <td>{{c.correo}}</td>
            <td>
                <a
                  href="{% url 'update_cliente' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                  <i class= "fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'delete_cliente' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                  <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
{% endfor %}
    </tbody>

</table>
    
     
{% endblock contenido %}

